{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_chat"> Add Chatroom</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Chat</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for chat, date, id in chats %}
      <tr>
        <td>{{chat}}</td>
        <td>{{date}}</td>
          <!-- Link to enter chatroom-->
        <td><a href="chat_room/{{id}}" class="btn btn-default pull-right">Enter Room</a></td>
        <td>
          <form action="{{url_for('delete_chat', id=id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Leave" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
