{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_chat"> Add Chatroom</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>Chat</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for chat, date, id in chats %}
      <tr>
        <td>{{chat}}</td>
        <td>{{date}}</td>
          <!-- Link to enter chatroom-->
        <td><a href="chat_room/{{id}}" class="btn btn-default pull-right">Enter Room</a></td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
