<html>
<Title>New User</Title>
<body>

<h1>Welcome New User</h1>

<p>Please put in all of the fields in order to create a new account!</p>

<form action="http://127.0.0.1:5000/login/" method="POST">
  <fieldset>
  Name:<br>
  <input type="text" name="Name">
  <br>
  Username:<br>
  <input type="text" name="Username">
  <br>
  Password:<br>
  <input type="text" name="Password">
  <br><br>
  <input type="submit" value="Login">
</fieldset>
</form>

<a href="/">Homepage</a>
<a href="/login">Login</a>

</body>
</html>
